<% if(error_msg!=""){ %>
<div class="message-box error"><%= error_msg %></div>
<% } %>

<!-- break link -->

<% if(success_msg!=""){ %>
<div class="message-box success"><%= success_msg %></div>
<% } %>

<!-- break link -->

<% if(error!=""){ %>
<div class="message-box error"><%= error %></div>
<% } %>
