<!DOCTYPE html>
<html lang="zh">
  <head>
    <%- include("./partials/header") %>
    <link rel="stylesheet" href="/style.css" />
    <title>IGO International</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="full-page">
      <div class="background-img">
        <img src="./pic/AboutPage/GoCommunity_Logo_NoFill.svg" alt="" />
      </div>
      <div class="container">
        <h1>About me</h1>
        <div class="text">
          <img src="./pic/AboutPage/AboutMe_MainPic.jpg" alt="富士山棋魂" />
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius
            voluptate ducimus, accusamus dolor alias sequi autem nesciunt esse
            incidunt magni atque ipsa distinctio aliquid beatae. Quia, aut!
            Iusto quo cumque iure non reiciendis sapiente ea, beatae officiis
            magni. Enim ad harum praesentium ipsa obcaecati ducimus quasi fugiat
            ex. Magnam, minus!
          </p>
        </div>
        <h1>Contect Me</h1>
        <div class="connect-box">
          <a href="mailto:b1233967@gmail.com"
            ><img
              src="./pic/Gmail_Icon_(2013-2020).svg"
              alt=""
            />b1233967@gmail.com</a
          >
          <a href="https://www.facebook.com/igoredturtle" target="_blank"
            ><img
              src="./pic/Facebook_f_logo_(2019).svg"
              alt="紅龜粿的碁人弈事"
            />紅龜粿的碁人弈事</a
          >
        </div>
      </div>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
