<!DOCTYPE html>
<html lang="zh">
  <head>
    <%- include("./partials/header") %>
    <link rel="stylesheet" href="/style.css" />
    <title>IGO International</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="container">
      <div class="history">
        <div class="intro-box">
          <h1>intro</h1>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
            rem, dolorum sapiente sit maxime rerum impedit quasi earum quaerat
            unde?
          </p>
        </div>
        <ul class="timeline">
          <li>
            <a href="#">
              <h2 class="time">2021/2/6</h2>
              <div class="score-box">
                <img
                  src="./pic/International/GoCommunity_Logo.svg"
                  alt="Go Community Logo"
                />
                <p class="score">1</p>
                <p class="score">:</p>
                <p class="score">4</p>
                <img
                  src="./pic/International/Hidamari_Logo.png"
                  alt="圍棋咖啡 「Hidamari」Logo"
                />
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <h2 class="time">2021/3/4</h2>
              <div class="score-box">
                <img
                  src="./pic/International/GoCommunity_Logo.svg"
                  alt="Go Community Logo"
                />
                <p class="score">1</p>
                <p class="score">:</p>
                <p class="score">4</p>
                <img
                  src="./pic/International/JURIN_Logo.jpg"
                  alt="圍棋咖啡「樹林」Logo"
                />
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <h2 class="time">2021/4/17</h2>
              <div class="score-box">
                <img
                  src="./pic/International/IgoLand_Logo.png"
                  alt="棋樂園Logo"
                />
                <p class="score">1</p>
                <p class="score">:</p>
                <p class="score">4</p>
                <img
                  src="./pic/International/Hidamari_Logo.png"
                  alt="圍棋咖啡 「Hidamari」"
                />
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <h2 class="time">2021/5/22</h2>
              <div class="score-box">
                <img
                  src="./pic/International/GoCommunity_Logo.svg"
                  alt="Go Community Logo"
                />
                <p class="score">4</p>
                <p class="score">:</p>
                <p class="score">1</p>
                <img
                  src="./pic/International/GoerGoThing_Logo.png"
                  alt="碁人碁事Logo"
                />
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <h2 class="time">2021/7/4</h2>
              <div class="score-box">
                <img
                  src="./pic/International/RedDoor_Logo.png"
                  alt="洪門棋院Logo"
                />
                <p class="score">5</p>
                <p class="score">:</p>
                <p class="score">0</p>
                <img
                  src="./pic/International/JURIN_Logo.jpg"
                  alt="圍棋咖啡「樹林」"
                />
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <h1>未完待續...</h1>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
