<!DOCTYPE html>
<html lang="zh">
  <head>
    <%- include("./partials/header") %>
    <link rel="stylesheet" href="/style.css" />
    <title>IGO Community</title>
  </head>
  <body>
    <div class="wrap">
      <div class="left">
        <div class="text">
          <h1>Go Travel</h1>
          <a class="btn" href="gotravel">Start</a>
        </div>
      </div>
      <div class="right">
        <div class="text">
          <h1>國際交流</h1>
          <a class="btn" href="/gointernational">Start</a>
        </div>
      </div>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
